@import './utilities/fonts.scss';

//landing page
.featuredOn-component {
  padding-top: 2rem;
};

.featuredOn-container {
  width: 100%;
};

.featuredOn-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  align-items: center;
    @include containerPadding {
    padding: 0 1.25rem;
  };
};

.featuredOn-content-title {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
};

.featuredOn-content-image-wrapper {
  display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  width: 100%;
};


//section 2
.problems {
  padding-top: 3rem;
};

.problems-container {
  width: 100%;
};

.problems-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    @include containerPadding {
    padding: 0 1.25rem;
  };
};

.problems-header {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
};

.problems-cards-wrapper {
  display: grid;
  grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  margin-top: 2rem;
};

.problems-card {
  // width: 100%;
  // max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 37px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #c23b3b;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  transition: all 0.3s ease-in-out;
  grid-column-gap: 1.125rem;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  };

  img {
    width: 50px;
  }

  p {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    width: 100%;
  }
};

.problems-card:first-child {
  background: linear-gradient(90deg, #4800ffa7 0%, #4800ffd4 50%, #4800ff76 100%);
};

.problems-card:nth-child(2) {
  background: linear-gradient(90deg, #2e2053a7 0%, #52349ef8 50%, #462c8776 100%);
};

.problems-card:nth-child(3) {
  background: linear-gradient(90deg, #2f2f3087 0%, #32147d8a 50%, #220766a2 100%);
};

.problems-card:nth-child(4) {
  background: linear-gradient(90deg, #302057a7 0%, #311183d4 50%, #08397476 100%);
};

.problems-card:nth-child(5) {
  background: linear-gradient(90deg, #723bfca7 0%, #260a6cd4 50%, #572a9376 100%);
};

.problems-card:nth-child(6) {
  background: linear-gradient(90deg, #12043467 0%, #724fca 50%, #22275c76 100%);
};

.problems-card:nth-child(7) {
  background: linear-gradient(90deg, #453177f4 0%, #6b34f5d4 50%, #28008e76 100%);
};

.problems-card:nth-child(8) {
  background: linear-gradient(90deg, #4e24b9a7 0%, #7240f1d4 50%, #311f5f76 100%);
};

.problems-card:last-child {
  background: linear-gradient(90deg, #6d48c9a7 0%, #2c088796 50%, #4118a9a2 100%);
};



//section 3
.sprintleap-solution {
  padding-top: 3rem;
};

.sprintLeap-solution-container {
  width: 100%;
};

.solution-header {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 1.4rem;
     @include containerPadding {
    padding: 0 1.25rem;
  };
};


.sprintleap-solution-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
    @include containerPadding {
    padding: 0 1.25rem;
  };
  @include tablet-max {
    flex-direction: column;
    gap: 0;
  };
};

.solution-1, .solution-3 {
  @include tablet-max {
    flex-direction: column-reverse;
  };
};


.solution-text {
  width: 100%;
  max-width: 600px;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
};


.solution-texttitle-header {
  font-size: clamp(1.3rem, 1.155rem + 0.73vw, 1.7rem);
  // text-align: justify;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1.1;
    font-weight: 550;
    margin-bottom: 1.4rem;
};

.solution-texttitle-content {
  width: 100%;
  max-width: 600px;
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  font-weight: 400;
  text-align: justify;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
};

.solution-imgWrapper {
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  
  img {
    width: 100%;
  }
};

.solution-text2 {
  @include tablet-max {
    text-align: right;
  }
}

.solution-texttitle-content2 {
  @include tablet-max {
    text-align: end;
  }
}

.solution-texttitle-2 {
  @include tablet-max {
    text-align: end;
  }
}
.solution-button {
  border-radius: 5px;
  @include apply-btn;
}


//section 4
.case-studies {
  padding-top: 3rem;
};

.case-studies-container {
  width: 100%;
};

.case-studies-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    @include containerPadding {
    padding: 0 1.25rem;
  };
};

.case-studies-header {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
};

.case-studies-text {
  width: 100%;
  max-width: 600px;
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  font-weight: 400;
  text-align: center;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
};

.case-studies-box {
  background: #fff;
  display: flex;
    border-radius: 30px;
    width: 100%;
    max-width: 1250px;
    max-height: 420px;
    padding: clamp(1rem, -0.235rem + 5.65vw, 4rem);
    margin: 4rem 0;
    position: relative;
    overflow: hidden;
      box-shadow: 0px 0px 10px 0px #4800ff60;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0px 0px 10px 0px #4800ff8c;
      };
    @include tablet-max {
      flex-direction: column;
      align-items: center;
    };
}

.case-studies-textWrapper {
  width: 100%;
  max-width: 500px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  color: #fff;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
};

.case-studies-textWrapper-header {
  font-size: clamp(1.3rem, 1.155rem + 0.73vw, 1.7rem);
  text-align: left;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
};

.case-studies-textWrapper-content {
  width: 100%;
  max-width: 600px;
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  font-weight: 400;
  text-align: left;
  color: #000000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin-bottom: auto;
  @include tablet-max {
    margin-bottom: 1rem;
  }
}

.case-study-btn {
  width: 60%;
  text-align: center;
  @include mobile {
    width: 70%;
  };
}

.case-studies-imgWrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  img {
    width: 100%;
  }
};


//section 5
.programs {
  padding-top: 3rem;
};

.programs-container {
  width: 100%;
};

.programs-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    @include containerPadding {
    padding: 0 1.25rem;
  };
};

.programs-header {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
};

.programs-card-wrapper {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
  @include tablet-max {
    flex-direction: column
  };
}

.programs-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: clamp(1rem, 0.485rem + 2.35vw, 2.25rem);
  cursor: pointer;
  border-radius: 12px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  transition: all 0.3s ease-in-out;
  grid-column-gap: 1.125rem;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  };
    @include tablet-max {
    width: 100%;
  };
};

.programs-card-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  line-height: 1.1;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center
};

.programs-card-header {
  font-size: clamp(1.3rem, 1.155rem + 0.73vw, 1.7rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
};

.programs-cardList-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 2rem 0;
}

.programs-cardList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2.25rem;
  cursor: pointer;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  transition: all 0.3s ease-in-out;
  grid-column-gap: 1.125rem;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  };

  svg {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #54ea47;
    border-radius: 1000000px;
    display: inline-block;
  }
};

.programs-cardList-content {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  line-height: 1.1;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  width: 80%;
  text-align: left;
};

.programs-button {
  @include apply-btn;
  text-align: center;
  width: 30%;
  @include tablet {
    width: 40%;
  }
  @include mobile {
    width: 100%;
  }
}


//section 6
.mentors {
  padding-top: 3rem;
};

.mentors-container {
  width: 100%;
};

.mentors-wrapper {
  // max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
};

.mentors-header {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
};

.mentors-text {
  width: 100%;
  max-width: 600px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #000000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
};

.mentors-card-wrapper {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 20px 0;
  margin-top: 2rem;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { // For Chrome, Safari and Opera
    display: none;
  }
}

.mentors-card {
  background-color: #fff;
  flex-direction: column;
  flex: none;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.1); // Semi-transparent white
  -webkit-backdrop-filter: blur(10px); // Apply blur
  backdrop-filter: blur(10px); // Apply blur
  border-radius: 10px; // Rounded corners
  border: 1px solid rgba(255, 255, 255, 0.2); // Thin white border
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); // Subtle shadow
}

.mentors-card-imgWrapper {
      width: 100%;
    height: 100%;
    max-height: 7.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      max-width: 15rem;
      object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    }
}

.mentor-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 1rem;
}

.mentors-card-textWrapper {
    flex: 1;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.mentor-imgWrapper {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    min-width: 3rem;
    object-fit: cover;
    border-radius: 100%;
  }
}

.mentor-textWrapper {
  width: 100%;
  max-width: 600px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
};

.mentors-card-header {
  font-size: 1.2rem;
  text-align: left;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 800;
    margin-bottom: .4rem;
};

.mentors-card-textWrapper-content {
  width: 100%;
  max-width: 600px;
  font-size:  clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  font-weight: 400;
  text-align: left;
  color: #000000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
};


.mentors-buttonWrapper {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  margin: 0 auto;
}

.mentors-button-container {
  width: 100%;
  text-align: center;
}

.mentors-button {
  @include apply-btn;
  width: 50%;
  border-radius: 5px;
  width: 25%;
  display: inline-block;
  @include tablet {
    width: 40%;
  }
  @include mobile {
    width: 60%;
  }
}


//section 7
.faq {
  padding-top: 3rem;
};

.faq-container {
  background-color: #f8f8f8;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
};

.faq-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
    font-size: clamp(1.1rem, 0.955rem + 0.73vw, 1.5rem);
    font-weight: 400;
    line-height: 1.1;
    @include containerPadding {
    padding: 0 1.25rem;
  };
}

.faq-header {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
}

.faq-contentWrapper {
  margin-top: 1.5rem;
}

.faq-list {
  margin-bottom: .5rem;
}

.faq-list-header {
  display: flex;
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 0.0625rem;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: #000000;
    transition: all 250ms cubic-bezier(0.9, 0, 0.51, 1);
    width: 100%;
    &:hover {
      background-color: #d9d7de;
    };
}

.faq-list-button {
  display: flex;
    padding: 1.5rem;
    appearance: none;
    width: 100%;
    background: none;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    outline: 0;
    border: 0;
    color: #000000;
    font-size: inherit;
    cursor: pointer;

  }
  
  .faq-svg {
    width: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);
  height: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);
  transform: rotate(0);
  transition: transform 0s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

.faq-list-content {
  font-size: inherit;
    color: inherit;
    width: 80%;
}

.faq-answer-wrapper {
  background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: left;
    transition: max-height cubic-bezier(0.55, 0.055, 0.675, 0.19);
    padding: 1.5rem;
    display: none;
    max-height: 0;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.faq-is-active {
  max-height: 1200px;
    transition: max-height 0.5s ease-in-out;
    display: block;
}

.faq-lowerWrapper {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.faq-lowercontent {
    font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
}

.rotate {
  transform: rotate(-45deg);
}

.apply-faq {
  @include apply-btn;
  width: 25%;
  display: inline-block;
  @include tablet {
    width: 40%;
  }
  @include mobile {
    width: 60%;
  }
}



//Our mission page
.mission-hero {
  padding-top: clamp(3.3rem, 2.573rem + 3.64vw, 5.7rem);
  padding-bottom: clamp(3.3rem, 2.573rem + 3.64vw, 5.7rem);
  background-color: rgb(219, 220, 231)
};

.mission-hero-container {
  width: 100%;
};

.mission-hero-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
    @include containerPadding {
    padding: 0 1.25rem;
  };
  @include tablet-max {
    flex-direction: column;
  };
};

.mission-hero-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  display: flex;
};

.mission-hero-title {
  font-size: clamp(2.4rem, 2.182rem + 1.09vw, 3rem);
  text-align: center;
  letter-spacing: -0.02em;
  color: #000;
  font-weight: 800;
  line-height: 1;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  margin-bottom: 1.4rem;
};

.mission-mainText {
  padding-top: 3rem;
}

.mission-mainText-container {
  width: 100%;
};

.mission-mainText-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    @include containerPadding {
    padding: 0 1.25rem;
  };
};

.mission-mainText-paragraph {
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  text-align: center;
  letter-spacing: -0.02em;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin-bottom: 1.4rem;
};


.meet-the-faces {
  padding-top: 3rem;
};

.meet-the-faces-container {
  width: 100%;
};

.meet-the-faces-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
    @include containerPadding {
    padding: 0 1.25rem;
  };
};

.meet-the-faces-inner-wrapper {
   display: flex;
  justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 11px 0px rgba(57,68,240,0.85);
  -moz-box-shadow: 10px 10px 11px 0px rgba(57,68,240,0.85);
  box-shadow: 10px 10px 11px 0px rgba(57,68,240,0.85);
  @include containerPadding {
    flex-direction: column;
  }
}

.meet-the-faces-images {
  max-width: 600px;
  border-radius: 50px;
  @include containerPadding {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.meet-the-faces-content {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  @include containerPadding {
    margin-left: 0;
    max-width: 100%;
  }

  p {
    padding: 20px;
    font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
    text-align: center;
    letter-spacing: -0.02em;
    color: #000;
    font-weight: 400;
    line-height: 1.1;
    font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  }
}



.our-values {
  padding-top: 3rem;
};

.our-values-container {
  width: 100%;
};

.our-values-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    @include containerPadding {
    padding: 0 1.25rem;
  };
};

.our-values-header {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1.4rem;
};

.our-values-paragraph {
  width: 100%;
  max-width: 600px;
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  font-weight: 400;
  text-align: center;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
};

.our-values-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  margin-top: 2rem;
  @include tablet-max {
    flex-direction: column;
  };
};

.our-values-card {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.25rem;
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0%);
  transition: all 0.3s ease-in-out;
  grid-column-gap: 1.125rem;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  };

  img {
    width: 60px;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
    line-height: 1.1;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    width: 100%;
    margin: .6rem 0;
    text-align: center;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    line-height: 1.1;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
  }
};






//Apply page
.apply-page {
  padding-top: 3rem;
};

.apply-container {
  width: 100%;
};

.apply-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
    font-size: clamp(1.1rem, 0.955rem + 0.73vw, 1.5rem);
    font-weight: 400;
    line-height: 1.1;
    @include containerPadding {
    padding: 0 1.25rem;
  };
}

.apply-title {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1.4rem;
}

.apply-course-text {
  width: 100%;
  max-width: 700px;
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  font-weight: 400;
  text-align: center;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.apply-link {
  width: 100%;
  max-width: 700px;
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  font-weight: 400;
  text-align: center;
  color: #000000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  margin-bottom: 1rem;
  transition: all 250ms cubic-bezier(0.9, 0, 0.51, 1);
  &:hover {
    color: #dad9dc;
  }
}


.bootcamp-card-wrapper {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bootcamp-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(57,68,240,0.85);
  -moz-box-shadow: 3px 3px 3px 3px rgba(57,68,240,0.85);
  box-shadow: 3px 3px 3px 3px rgba(57,68,240,0.85);
  @include containerPadding {
    flex-direction: column;
  }
}

.bootcamp-card-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  span {
    font-size: 1rem;
    color: #333;
    display: inline-block;
    margin-bottom: .5rem;
    font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  }

  h3 {
    font-size: 1.7rem;
    color: #000;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 1.2rem;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  }

  p {
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    display: inline-block;
    font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    max-width: 700px;
  }
}

.bootcamp-empty {
  width: 100%;
  height: 1px;
    background-color: #000;
    margin-top: 3.75rem;
    margin-bottom: 2.5rem;
}

.bootcamp-card-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;

  h3 {
    font-size: 1.7rem;
    color: #000;
    font-weight: 700;
    display: inline-block;
    margin-bottom: .7rem;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  }

  span {
    font-size: 1rem;
    color: #333;
    display: inline-block;
    font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  }
}

.apply-page-apply {
  width: 100%;
}

.pricing-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pricing-form {
   width: 100%;
  grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: #000000;
    box-shadow: 0 0 0 1px #000;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.pricing-label {
  background-color: #fff;
    margin-bottom: 0;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  
  input {
    width: 1rem;
    cursor: pointer;
  }

  span {
    margin: 0;
    font-size: 1rem;
    line-height: 1.125;
    display: block;
    margin-left: .4rem;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    text-wrap: pretty;
  }
}

.pricing-btn {
  border-radius: 0;
}



//Contact page
.contact {
  padding: 3rem 0;
};

.contact-container {
  width: 100%;
};

.contact-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  font-size: clamp(1.1rem, 0.955rem + 0.73vw, 1.5rem);
  font-weight: 400;
  line-height: 1.1;
  @include containerPadding {
    padding: 0 1.25rem;
  };
   @include tablet-max-xl {
    flex-direction: column-reverse;
   }
}

.contact-left-wrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include containerPadding {
    margin-right: 0;
    max-width: 100%;
  }
  @include tablet-max-xl {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.contact-right-wrapper {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include containerPadding {
    margin-left: 0;
    max-width: 100%;
  }
}

.contact-right-content {
  @include tablet-max-xl {
    width: 100%;
  }
}

.contact-right-content-heading {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: left;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1.4rem;
}

.contact-right-content-paragraph {
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  text-align: left;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

.contact-right-content-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include containerPadding {
    margin-left: 0;
    max-width: 100%;
  }
}

.contact-forn {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include containerPadding {
    margin-left: 0;
    max-width: 100%;
  }
}

.contact-right-content-form-input {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include containerPadding {
    margin-left: 0;
    max-width: 100%;
  }

  input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
    font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
    &:focus {
      outline: none;
      border: 1px solid #000;
    }
  }

  textarea {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
    font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
    &:focus {
      outline: none;
      border: 1px solid #000;
    }
  }


  button {
    @include apply-btn;
      @include mobile {
    width: 100%;
  } 
  }
}



//bootcamp page
.bootcamp-component {
  background-color: #fff;
  @include tablet-max {
    padding-top: clamp(3.3rem, 2.573rem + 3.64vw, 5.7rem);
  };
}

.bootcamp-container {
  width: 100%;
}

.bootcamp-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include containerPadding {
    padding: 0 1.25rem;
  };
  @include tablet-max {
    flex-direction: column;
    text-align: center;
  };
}

.bootcamp-content-text {
  text-align: left;
  display: flex;
  max-width: 560px;
  width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
   @include tablet-max {
    text-align: center;
  };
}

.bootcamp-content-title {
  font-size: clamp(2.4rem, 2.182rem + 1.09vw, 3rem);
  text-align: left;
  letter-spacing: -0.02em;
  color: #000;
  font-weight: 800;
  line-height: 1;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  margin-bottom: 1.4rem;
  @include tablet-max {
    text-align: center;
  };
}

.bootcamp-content-description {
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  text-align: left;
  letter-spacing: -0.02em;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin-bottom: 1.4rem;
  @include tablet-max {
    text-align: center;
  };  
}

.bootcamp-content-image {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include containerPadding {
    margin-left: 0;
    max-width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
}


.bootcamp-content-button-wrapper {
  width: 100;
}

.bootcamp-content-button {
   @include apply-btn;
    font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
    margin-bottom: 1rem;
    text-align: left;
    display: inline-block;
    font-weight: 700;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}




//bootcamp page
.bootcamp-people {
  padding-top: 3rem;
};

.bootcamp-people-container {
  width: 100%;
};

.bootcamp-people-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include containerPadding {
    padding: 0 1.25rem;
  };
  @include tablet-max {
    flex-direction: column;
  };
}

.bootcamp-people-left-content {
  text-align: left;
  display: flex;
  max-width: 400px;
  width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
}

.bootcamp-people-title {
  font-size: clamp(1.3rem, 2.182rem + 1.09vw, 1.9rem);
  text-align: left;
  letter-spacing: -0.02em;
  color: #000;
  font-weight: 600;
  line-height: 1;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  margin-bottom: 1.4rem;
}

.bootcamp-people-right-content {
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  text-align: left;
  letter-spacing: -0.02em;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin-bottom: 1.4rem;
  margin-left: 12px;
}

.bootcamp-people-right-inner {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.bootcamp-people-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  @include tablet-max {
    flex-direction: column;
    align-items: flex-start;
  };
}

.bootcamp-people-img-wrapper {
  width: 4.5rem;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include containerPadding {
    margin-left: 0;
    max-width: 100%;
  }
  @include tablet-max {
    margin-bottom: .5rem;
    align-items: flex-start;
    justify-content: flex-start;
  };


  img {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
  }
}

.bootcamp-people-text-wrapper {
  margin-left: 14px;
  @include tablet-max {
    margin-left: 0;
  };
}

.bootcamp-people-text-title {
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  text-align: left;
  letter-spacing: -0.02em;
  color: #000;
  font-weight: 700;
  line-height: 1;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  margin-bottom: .5rem;
}

.bootcamp-people-text-description {
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  text-align: left;
  letter-spacing: -0.02em;
     color: #000;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
}



//bootcamp-structure
.bootcamp-structure {
  padding-top: 3rem;
};

.bootcamp-structure-container {
  width: 100%;
};

.bootcamp-structure-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: center;
  display: grid;
  @include containerPadding {
    padding: 0 4vw
  };
  @include mobile {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  };
}

.cohort-item {
  width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
  display: flex;

  img {
    width: 3rem;
    height: 3rem;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 1rem;
  }
}

.cohort-item-title {
  font-size: clamp(1.2rem, 1.182rem + 1.09vw, 1.4rem);
  text-align: center;
  letter-spacing: -0.02em;
  color: #000;
  font-weight: 600;
  line-height: 1;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
}

.cohort-item-description {
    font-size: clamp(1rem, 1.182rem + 1.09vw, 1.2rem);
  text-align: center;
  letter-spacing: -0.02em;
     color: #000;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
}



//curriculum
.curriculum {
  padding-top: 3rem;
};

.curriculum-container {
  width: 100%;
};

.curriculum-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
    font-size: clamp(1.1rem, 0.955rem + 0.73vw, 1.5rem);
    font-weight: 400;
    line-height: 1.1;
    @include containerPadding {
    padding: 0 1.25rem;
  };
}

.curriculum-title {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.curriculum-subtitle {
  width: 100%;
  max-width: 600px;
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  font-weight: 400;
  text-align: center;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  margin-bottom: 1rem;

  a {
    color: #000000;
  }
}

.curriculum-timeline {
  width: 100%;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
  border-bottom: 1px solid #8a8989;
  gap:1rem;
  @include mobile {
    flex-direction: column;
  };
}

.timeline-left {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.timeline-week {
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  text-align: left;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-weight: 800;
  margin-bottom: 1rem;
}

.timeline-week-description {
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  text-align: left;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1rem;
}

.timeline-right {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.timeline-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  @include mobile {
    padding-left: 10px;
  }
}

.timeline-li {
  font-size: 1rem;
  text-align: left;
  font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-weight: 400;
}



//bootcamp-steps
.bootcamp-step {
  padding-top: 3rem;
};

.bootcamp-step-container {
  width: 100%;
};

.bootcamp-step-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
    font-size: clamp(1.1rem, 0.955rem + 0.73vw, 1.5rem);
    font-weight: 400;
    line-height: 1.1;
    @include containerPadding {
    padding: 0 1.25rem;
  };
}

.steps-row {
  margin-bottom: 2rem;
}

.steps-number {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  color: #fff;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1.4rem;
  padding: 18px;
   background: linear-gradient(90deg, #4800ffd0 0%, #0f0f85be 50%, #703dd6 100%);
   width: 70px;
   margin: 0 auto;
   margin-bottom: 2.5rem;
   border-radius: 100000px;
}

.steps-content {
  font-size: 20px;
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1.4rem;
}







//Responsibilty section
.mentors-responsibility {
  padding-top: 3rem;
};

.mentors-responsibility-container {
  width: 100%;
};

.mentors-responsibility-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include containerPadding {
    padding: 0 1.25rem;
  };
}

.mentors-responsilbilty-title {
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  text-align: center;
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 1.4rem;
}



//Privacy policy
.policy {
  padding: 3rem 0;

  p, ul {
    font-size: clamp(.8954rem, 0.927rem + 0.36vw, 1rem);
    font-weight: 400;
    text-align: left;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1.5;
    font-family: 'sprintleap-regular', Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: clamp(1.4rem, 1.718rem + 0.91vw, 1.6rem);
    text-align: left;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
  }

  h3 {
    font-size: clamp(1.2rem, 1.718rem + 0.91vw, 1.4rem);
    text-align: left;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
  }

  h4 {
    font-size: clamp(1.1rem, 1.718rem + 0.91vw, 1.3rem);
    text-align: left;
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1.4rem;
  }
}

.policy-container {
  width: 100%;
}

.policy-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  @include containerPadding {
    padding: 0 1.25rem;
  };
}

.policy-title {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  font-size: clamp(1.9rem, 1.718rem + 0.91vw, 2.4rem);
  font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 1.4rem;
}
