@font-face {
    font-family: 'sprintleap-reg', Arial, Helvetica, sans-serif;
    src: url('/assets/fonts/SprintLeap_Reg.woff') format('woff2');
};

@font-face {
    font-family: 'sprintleap-med', Arial, Helvetica, sans-serif;
    src: url('/assets/fonts/SprintLeap_Med.woff') format('woff2');
};

@font-face {
    font-family: 'sprintleap-bold', Arial, Helvetica, sans-serif;
    src: url('/assets/fonts/SprintLeap_Bold.woff') format('woff2');
};

